h1 {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif, Arial;
  color: white;
  text-shadow: 0.3 em
}

body {
  width: 180px;
  background-color: indianred;
  text-align: center;
  transition-duration: 1s;
  transition-delay: 1s;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

button:hover{
  color: white;
  background-color: lightslategray;
  font-weight: bold;
  border: 1px black solid;
}